@import url(https://fonts.googleapis.com/css?family=Nunito:regular,500);

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

body {
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, 'Nunito';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;

	z-index: 0;
}
html,
body {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: #f8f8f8;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
a {
	all: unset;
}
